$bg-default: #212A48;
$bg-dark:rgba(0, 0, 0, .4);
$primary-light: #00A3FF;
$divider: rgba(255, 255, 255, .10);
$space: 8px;
$border-radius: 10px;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;