// default breakpknts
$xs: "480px";
$sm: "600px";
$md: "799px";
$lg: "1010px";
$xl: "1280px";

@mixin media-min($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin media-max($size) {
  @media (max-width: $size) {
    @content;
  }
}

// Example:
// @include media-min($md) {
// }





@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding-top: $top * $space;
  padding-right: $right * $space;
  padding-bottom: $bottom * $space;
  padding-left: $left * $space;
}

@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding-top: $top * $space;
  padding-right: $right * $space;
  padding-bottom: $bottom * $space;
  padding-left: $left * $space;
}

@mixin shadow($size) {
  box-shadow: $size+px $size+px $size+px rgba(0, 0, 0, .2);

  @if $size==0 {
    box-shadow: none;
  }

}

@mixin fontSize($s) {

  $size: $s * 1.0;

  @if $size < 1 {
    $size: 1
  }

  font-size: $size+rem;

}

@mixin typography($s) {
  $weight: $s * (100 * 2.3);

  @if $weight < $font-weight-semibold {
    $weight: $font-weight-semibold
  }

  font-weight: $weight;
  padding: 0;
  margin: 0;

  @include fontSize($s);
  @include margin(.5, 0, .5, 0);
}

@mixin button() {

  @include shadow(2);
  border-radius: $border-radius;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .03rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-align: center;

  @include media-max($md) {
    @include padding(2, 3, 2, 3);
    @include fontSize(.8);
  }

  @include media-min($md) {
    @include padding(3, 5, 3, 5);
    @include fontSize(1.1);
  }

  &:hover {
    @include shadow(0);
    text-decoration: none;
    color: #fff;
    opacity: .8;
  }
}