ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {

  @include media-max($md) {
    @include typography(2);
    font-weight: $font-weight-bold;
  }

  @include media-min($md) {
    @include typography(3.8);
    font-weight: $font-weight-bold;
  }
}

h2 {
  @include typography(3)
}

h3 {
  @include typography(2.3)
}

h4 {
  @include typography(2)
}

h5 {
  @include typography(1.1)
}

h6 {
  @include typography(.9)
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @include padding(0, 2, 0, 2)
}