.partnersRoot {
  @include padding(10, 0, 15, 0);
  // border-top: 1px solid $divider;
}

.partnersHeader {
  opacity: .5;
  text-align: center;
  margin-bottom: $space * 3;
  @include fontSize(1);
}

.partnersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items: center;

  gap: $space * 2;

  @include media-max($md) {
    gap: $space * 1;
  }

  >img {
    @include margin(1, 2, 1, 2);
    width: 100%;

    @include media-max($md) {
      max-width: 120px;
      max-height: 40px;
    }

    @include media-min($md) {
      max-width: 140px;
      max-height: 50px;
    }
  }
}